@charset "utf-8";
#header {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
#background p {
}

#header {
    color: #05386B;
    font-family: eb-garamond;
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    text-align: center;
}

#header2 {
    background-color: #FFCB05;
    color: #FFCB05;
}
#paragraph {
}
#list {
}
#list {
}
#list {
}
#background {
    background-color: #00274C;
}
.hometab {
    width: 0pt;
}
.header {
    text-align: center;
    color: #F5F7F9;
    font-size: 47pt;
    text-indent: 0px;
    text-decoration: underline;
    font-weight: 400;
    font-variant: normal;
    font-style: normal;
    height: 30pt;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.p1 {
    text-align: center;
    text-shadow: 0px 0px #05386B;
    color: #05386B;
    line-height: -127in;
}
.fontcolor {
    color: #FFCB05;
}
