@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #000;
  height: 100%;
font-family: 'Montserrat', sans-serif;  
}

h1 {
  font-size: 4em;
  color: #FFCB05;
  margin-top: 350px;
  text-align: center;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
